/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~

	1). universal
	2). main navbar
	3). projects navbar
	4). contact navbar
	5). about

~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ------ universal ------- */
html {
  font-size: 10px; }

ul {
  padding-left: 0; }

li {
  list-style: none; }

a {
  color: black;
  text-decoration: none; }
  a:hover {
    text-decoration: none;
    color: #b3b3b3; }

a:hover {
  text-decoration: none; }

.ng-cloak {
  display: none; }

.green {
  color: green; }

.red {
  color: red; }

.centered {
  text-align: center; }

.wrapper {
  margin: 0 1rem; }

/* ------- navbar -------- */
.main-navbar ul {
  border-bottom: 1px solid black;
  position: relative;
  top: -3rem; }
  .main-navbar ul li {
    display: inline-block; }

.main-navbar .nav-brand {
  bottom: -1.75rem;
  font-size: 4rem;
  font-weight: 200;
  margin-bottom: 0rem;
  padding-left: 0rem;
  position: relative; }
  .main-navbar .nav-brand span:hover {
    display: inline-block;
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
    -o-transform: matrix(-1, 0, 0, 1, 0, 0);
    transform: matrix(-1, 0, 0, 1, 0, 0); }
  .main-navbar .nav-brand .vowel {
    display: inline-block;
    transition: all .5s ease-in-out; }
    .main-navbar .nav-brand .vowel:hover {
      -webkit-transform: scale(0.25);
      -moz-transform: scale(0.25);
      -o-transform: scale(0.25);
      transform: scale(0.25); }

.main-navbar .nav-link {
  padding-left: 1rem;
  position: relative;
  bottom: -4.65rem;
  display: inline-block;
  transition: all .4s ease-in-out; }
  .main-navbar .nav-link:hover {
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -o-transform: scale(1.25);
    transform: scale(1.25); }

/* ------- about -------- */
.about-section {
  height: 90vh;
  font-size: 1.75rem; }
  .about-section #about-image {
    max-height: 300px;
    min-height: 150px;
    max-width: 300px;
    min-width: 150px; }
  .about-section .about-description a {
    font-weight: 200; }
  .about-section .about-description span {
    display: inline-block;
    transition: all .5s ease-in-out; }
    .about-section .about-description span:hover {
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -o-transform: scale(1.1);
      transform: scale(1.1); }

/* ------- projects -------- */
.projects-navbar ul {
  border-bottom: 1px solid black;
  position: relative;
  top: -3rem; }
  .projects-navbar ul li {
    display: inline-block; }

.projects-navbar .nav-brand {
  bottom: -1.75rem;
  font-size: 4rem;
  font-weight: 200;
  margin-bottom: 0rem;
  padding-left: 0rem;
  position: relative; }
  .projects-navbar .nav-brand span:hover {
    display: inline-block;
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
    -o-transform: matrix(-1, 0, 0, 1, 0, 0);
    transform: matrix(-1, 0, 0, 1, 0, 0); }
  .projects-navbar .nav-brand .vowel {
    display: inline-block;
    transition: all .4s ease-in-out; }
    .projects-navbar .nav-brand .vowel:hover {
      -webkit-transform: scale(0.25);
      -moz-transform: scale(0.25);
      -o-transform: scale(0.25);
      transform: scale(0.25); }

.projects-navbar .nav-link {
  padding-left: 1rem;
  position: relative;
  bottom: -4.65rem;
  display: inline-block;
  transition: all .4s ease-in-out; }
  .projects-navbar .nav-link:hover {
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -o-transform: scale(1.25);
    transform: scale(1.25); }

.projects-section {
  height: 100vh; }

.technologies li {
  display: inline-block;
  margin-bottom: 0rem; }

/* ------- contact -------- */
.contact-navbar ul {
  border-bottom: 1px solid black;
  position: relative;
  top: -3rem; }
  .contact-navbar ul li {
    display: inline-block; }

.contact-navbar .nav-brand {
  bottom: -1.75rem;
  font-size: 4rem;
  font-weight: 200;
  margin-bottom: 0rem;
  padding-left: 0rem;
  position: relative; }
  .contact-navbar .nav-brand span:hover {
    display: inline-block;
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
    -o-transform: matrix(-1, 0, 0, 1, 0, 0);
    transform: matrix(-1, 0, 0, 1, 0, 0); }
  .contact-navbar .nav-brand .vowel {
    display: inline-block;
    transition: all .4s ease-in-out; }
    .contact-navbar .nav-brand .vowel:hover {
      -webkit-transform: scale(0.25);
      -moz-transform: scale(0.25);
      -o-transform: scale(0.25);
      transform: scale(0.25); }

.contact-navbar .nav-link {
  padding-left: 1rem;
  position: relative;
  bottom: -4.65rem;
  display: inline-block;
  transition: all .4s ease-in-out; }
  .contact-navbar .nav-link:hover {
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -o-transform: scale(1.25);
    transform: scale(1.25); }

.contact-section {
  height: 100vh; }

.contact-description span {
  display: inline-block;
  transition: all .4s ease-in-out; }
  .contact-description span:hover {
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -o-transform: scale(1.25);
    transform: scale(1.25); }

.contact-icons li {
  display: inline-block;
  margin: 0 1rem;
  transition: all .5s ease-in-out; }
  .contact-icons li:hover {
    -webkit-transform: scale(1.75);
    -moz-transform: scale(1.75);
    -o-transform: scale(1.75);
    transform: scale(1.75); }

/* ------- games -------- */
/* Larger than mobile */
/* Larger than phablet */
@media (min-width: 550px) {
  .contact-section {
    height: 85vh; } }

/* Larger than tablet */
@media (min-width: 750px) {
  .contact-section {
    height: 90vh; } }

/* Larger than desktop */
@media (min-width: 1000px) {
  .contact-section {
    height: 90vh; } }

/* Larger than Desktop HD */
@media (min-width: 1200px) {
  .contact-section {
    height: 90vh; } }
