
// front-end image transition
@-webkit-keyframes frontend-image-transition
{
	0%,100% {
		background: url("../images/javascript.svg") no-repeat;
		background-size: 200px 200px;
	}
	20% {
		background: url("../images/jquery.svg") no-repeat;
		background-size: 200px 200px;
	}
	40% {
		background: url("../images/angular.svg") no-repeat;
		background-size: 200px 200px;
	}
	60% {
		background: url("../images/react.svg") no-repeat; 
		background-size: 200px 200px;
	}
	80% {
		background: url("../images/redux.svg") no-repeat; 
		background-size: 200px 200px;
	}
}

.frontend-image {
	animation: frontend-image-transition 15s linear infinite;
	-moz-animation: frontend-image-transition 15s linear infinite; 
	-webkit-animation: frontend-image-transition 15s linear infinite; 
	-o-animation: frontend-image-transition 15s linear infinite; 
}


// backend image transition
@-webkit-keyframes backend-image-transition 
{
	0%,100% {
		background: url("../images/node.svg") no-repeat;
		background-size: 200px 200px;
	}
	20% {
		background: url("../images/express.svg") no-repeat;
		background-size: 200px 200px;
	}
	40% {
		background: url("../images/mongodb.svg") no-repeat;
		background-size: 200px 200px;
	}
	60% {
		background: url("../images/postgresql.svg") no-repeat;
		background-size: 200px 200px;
	}
	80% {
		background: url("../images/postgresql.svg") no-repeat;
		background-size: 200px 200px;
	}
}

.backend-image {
	animation: backend-image-transition 10s linear infinite;
	-moz-animation: backend-image-transition 10s linear infinite; 
	-webkit-animation: backend-image-transition 10s linear infinite; 
	-o-animation: backend-image-transition 10s linear infinite; 
}