/*==== FADE IN UP ===*/
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp; }

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1, 1); }
  25% {
    -webkit-transform: scale(1.25, 1.25); }
  50% {
    -webkit-transform: scale(1.5, 1.5); }
  75% {
    -webkit-transform: scale(1.25, 1.25); }
  100% {
    -webkit-transform: scale(1, 1); } }

@keyframes pulse {
  0% {
    transform: scale(1, 1); }
  25% {
    transform: scale(1.25, 1.25); }
  50% {
    transform: scale(1.5, 1.5); }
  75% {
    transform: scale(1.25, 1.25); }
  100% {
    transform: scale(1, 1); } }

.animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.one {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s; }

.two {
  -webkit-animation-delay: 1.7s;
  -moz-animation-delay: 1.7s;
  animation-delay: 1.7s; }

.three {
  -webkit-animation-delay: 2.3s;
  -moz-animation-delay: 2.3s;
  animation-delay: 2.3s; }

.four {
  -webkit-animation-delay: 3.3s;
  -moz-animation-delay: 3.3s;
  animation-delay: 3.3s; }

@-webkit-keyframes frontend-image-transition {
  0%, 100% {
    background: url("../images/javascript.svg") no-repeat;
    background-size: 200px 200px; }
  20% {
    background: url("../images/jquery.svg") no-repeat;
    background-size: 200px 200px; }
  40% {
    background: url("../images/angular.svg") no-repeat;
    background-size: 200px 200px; }
  60% {
    background: url("../images/react.svg") no-repeat;
    background-size: 200px 200px; }
  80% {
    background: url("../images/redux.svg") no-repeat;
    background-size: 200px 200px; } }

.frontend-image {
  animation: frontend-image-transition 15s linear infinite;
  -moz-animation: frontend-image-transition 15s linear infinite;
  -webkit-animation: frontend-image-transition 15s linear infinite;
  -o-animation: frontend-image-transition 15s linear infinite; }

@-webkit-keyframes backend-image-transition {
  0%, 100% {
    background: url("../images/node.svg") no-repeat;
    background-size: 200px 200px; }
  20% {
    background: url("../images/express.svg") no-repeat;
    background-size: 200px 200px; }
  40% {
    background: url("../images/mongodb.svg") no-repeat;
    background-size: 200px 200px; }
  60% {
    background: url("../images/postgresql.svg") no-repeat;
    background-size: 200px 200px; }
  80% {
    background: url("../images/postgresql.svg") no-repeat;
    background-size: 200px 200px; } }

.backend-image {
  animation: backend-image-transition 10s linear infinite;
  -moz-animation: backend-image-transition 10s linear infinite;
  -webkit-animation: backend-image-transition 10s linear infinite;
  -o-animation: backend-image-transition 10s linear infinite; }

ul {
  padding-left: 0em; }
  ul li {
    list-style: none; }

a {
  text-decoration: none; }
  a:hover, a:active, a:visited {
    text-decoration: none; }

nav {
  color: #FDD023;
  height: 3em; }
  nav .title {
    color: #FDD023;
    transition-property: color;
    transition-duration: 3s; }
    nav .title:hover {
      color: #461D7C;
      transition-duration: 1.5s; }
  nav a {
    color: #FDD023;
    text-decoration: none;
    transition-property: color;
    transition-duration: 3s; }
    nav a:hover {
      color: #461D7C;
      text-decoration: none;
      transition-duration: 1.5s; }
  nav .navbar-list {
    float: right; }
    nav .navbar-list li {
      display: inline-block;
      margin-right: 1em; }
      nav .navbar-list li:last-child {
        margin-right: 0em; }

.content {
  position: relative;
  background: #461D7C;
  overflow: hidden; }

.content:before {
  content: ' ';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.4;
  background: url(../images/lsu_victory.jpg) no-repeat center center fixed;
  background-repeat: no-repeat;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover; }

.welcome {
  color: white;
  height: 100vh;
  position: relative;
  text-align: center;
  top: 20vh;
  z-index: 2; }
  .welcome .name {
    font-size: 8em; }
  .welcome .profession {
    font-size: 4em; }
  .welcome .name, .welcome .profession {
    transition-property: color;
    transition-duration: 20s; }
    .welcome .name:hover, .welcome .profession:hover {
      transition-duration: 1s;
      color: #FDD023; }
  @media only screen and (max-width: 480px) {
    .welcome {
      top: 25vh; }
      .welcome .name {
        font-size: 4em; }
      .welcome .profession {
        font-size: 1em; } }

.more-below {
  -webkit-animation: pulse 3s linear infinite;
  animation: pulse 3s linear infinite;
  bottom: 0.5em;
  color: white;
  left: 48%;
  position: absolute;
  transform: translate(-50%, -50%);
  transition-property: color;
  transition-duration: 20s;
  z-index: 2; }
  .more-below:hover {
    transition-duration: 1s;
    color: #FDD023; }
  @media only screen and (max-width: 480px) {
    .more-below {
      bottom: 2em; } }

.hola {
  background: white;
  height: 100vh;
  text-align: center; }
  .hola .doing {
    color: #461D7C;
    margin-top: 25vh;
    margin-bottom: 15vh; }
  .hola .hola-image, .hola .build-image {
    border: 4px solid #FDD023;
    border-radius: 50%;
    height: 200px;
    margin-bottom: 2em;
    margin-top: 4em;
    width: 200px; }
  .hola .build {
    text-align: justify; }
  .hola .build-text {
    margin-top: 4em; }
  .hola h4 {
    color: #461D7C; }
  .hola p {
    color: #461D7C;
    font-size: 1.5em; }
  @media only screen and (max-width: 480px) {
    .hola p {
      font-size: 1em; }
    .hola .build {
      text-align: center; }
      .hola .build h4 {
        text-align: center; }
      .hola .build p {
        text-align: justify; }
    .hola .build-text {
      margin-top: 2em; }
    .hola .build-image, .hola .frontend-image, .hola .backend-image {
      float: none; } }
  @media only screen and (max-width: 768px) {
    .hola p {
      font-size: 1em; }
    .hola .build {
      text-align: center; }
      .hola .build h4 {
        text-align: center; }
      .hola .build p {
        text-align: justify; }
    .hola .build-text {
      margin-top: 3em; }
    .hola .build-image, .hola .frontend-image, .hola .backend-image {
      float: none; } }

.helping {
  color: #461D7C;
  height: 100vh;
  position: relative;
  text-align: center; }
  .helping .helping-text {
    margin-top: 15vh; }
    .helping .helping-text h2 {
      font-size: 3em; }
    .helping .helping-text h4 {
      font-size: 2em;
      margin-top: 2em; }
    .helping .helping-text .message-me {
      border-color: #461D7C;
      color: #461D7C;
      margin-top: 2em; }
      .helping .helping-text .message-me:hover {
        border-color: #FDD023;
        background: #461D7C;
        color: white; }

.bottom {
  bottom: 0px;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%); }
  .bottom li {
    display: inline-block;
    margin-right: 3em; }
    .bottom li a i {
      color: #461D7C;
      transition-property: color;
      transition-duration: 20s; }
      .bottom li a i:hover {
        color: #FDD023;
        transition-duration: 1.5s; }
    .bottom li:last-child {
      margin-right: 0em; }
