body {
  background: url(../images/lsu_victory.jpg) no-repeat center center fixed;
  background-size: cover; }

ul {
  padding-left: 0em; }

li {
  list-style: none; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

nav {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  height: 4em; }
  nav a {
    color: white; }

.navbar-list {
  float: right; }
  .navbar-list li {
    display: inline-block;
    margin-right: 1em; }
    .navbar-list li:last-child {
      margin-right: 0em; }

.welcome {
  color: white;
  height: 100vh;
  text-align: center;
  transform: translateY(25%); }
  .welcome h1, .welcome p {
    transition-property: color;
    transition-duration: 2s; }
    .welcome h1:hover, .welcome p:hover {
      transition-duration: 1s;
      color: red; }

.hola {
  background: white;
  height: 100vh;
  text-align: center; }
