

nav {
	color: $yellow;
	height: 3em;
	width: 100% !important;

	.title {
		color: $yellow;
		transition-property: color;
		transition-duration: 3s;

		&:hover {
			color: $purple;
			transition-duration: 1.5s;
		}
	}

	a {
		color: $yellow;
		text-decoration: none;
		transition-property: color;
		transition-duration: 3s;

		&:hover {
			color: $purple;
			text-decoration: none;
			transition-duration: 1.5s;
		}
	}

	.navbar-list {
		float: right;

		li {
			display: inline-block;
			margin-right: 1em;

			&:last-child {
				margin-right: 0em;
			}
		}
	}
}

// nav {
// 	background: rgba(0, 0, 0, 0.3);
// 	color: $yellow;
// 	height: 4em;

// 	.title {
// 		line-height: 2em;
// 	}


// 	.navbar-list {
// 		float: right;
// 		line-height: 4em;
// 		margin-right: 1em;

// 		li {
// 			display: inline-block;
// 			margin-right: 1em;

// 			a {
// 				color: $yellow;
// 			}

// 			&:last-child {
// 				margin-right: 0em;
// 			}
// 		}
// 	}
// }